/*Main Styles*/
body{
    background-color: #212121;
}

p{
    color: whitesmoke;
    font-family: 'M PLUS 1', sans-serif;
}


a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #B9DFDF;

}

a{
    cursor: pointer;
    text-decoration: none;
    color:#B9DFDF;
}

.inline-block{
    display: inline-block;
    vertical-align: top;
}

ul{
    width: 50%;
    margin-left: auto;
    color: #B9DFDF;
}

button{
    background-color: #B9DFDF;
    padding: 10px;
    color: black;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 500;
    border-radius: 12px;
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    margin: auto;
}

button:hover{
    font-weight:700;
}

button:active{
    font-weight: 700;
    background-color: #60C9C9;
}

/*Header Styles*/
header{
    background-color: #212121;
    width: 100%;
    padding: 0;
    position: sticky;
    top: 0;
    align-items: center;
}

.logo{
    width: 23%;
    padding-top: 1%;
    padding-left: 20px;
    text-align: center;
}

nav{
    width: 73%;
    padding: 1%;
    height: 50px;
    float: right;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 24px;

}

header li{
    margin: 5px;
}

/*Body Styles*/
.content{
    width: 60%;
    margin: 0 auto;
}


.heroImg{
    height: 650px;
    padding: 25px;
}

.left{
    float: left;
    width: 60%;
    text-align: left;
    margin: 5px;
}

.left h2{
    font-family: 'Homemade Apple', cursive;
    font-size: 32px;
    text-align: center;
    color: white;
}

.left button{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: black;
    gap: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.right{
    float: right;
    width: 35%;
}

/*#leftSquiggle{
    position: fixed;
    top: 0;
    left: .5;
}

#rightSquiggle{
    position: fixed;
    right: -2;
    top: 0;
}*/

.line-break{
    width:95%;
    max-width: 1650px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px none black;
    border-bottom: 1px solid #888888;
    text-align: center;
}


/*Footer Styles*/
footer{
    background-color: #212121;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    
}

.copyright p{
    color: #FAC8CD;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 24px;
    text-align: left;
    bottom: 0;
    left: 0;
    padding: 50px;

}

footer ul{
    display: inline-block;
    vertical-align: top;
    padding: center;
    color: bisque;   
    }
    
footer li{
    padding: center;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    gap: 20px;
}

.contact-left-title{
    text-align: center;
    padding: 5px;
    align-items: center;
}

.contact-left-title h2{
    font-weight: 400;
    color: white;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 32px;
    margin-bottom: 5px;
    text-align: center;
    align-items: center;

}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    border-radius: 12px;
    font-family: 'M PLUS 1', sans-serif;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    border-color: #FAC8CD;
}

.contact-inputs:focus{
    border: 5px solid #FAC8CD;
}

.contact-inputs::placeholder{
    color: #a4a4a4;
}

.contact-left button{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: black;
    gap: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.social-media{
    display: inline-block;
    text-align: center;
}

#linkedin{
    align-items: center;
    cursor: pointer;
    background-image: url("/images/LinkedIn\ Circle\ White.png");
}

#linkedIn:hover{
    display: inline;
    opacity: 50%;
}

#github{
    align-items: center;
    cursor: pointer;
    color: white;
}

#github:hover{
    display: inline;
    opacity: 50%;
    color: white;
}